{{#*inline "page"}}
<h1>404 Not Found</h1>
<p>The page "<span></span>" doesn't exist just yet.</p>
<p>Maybe you want to head <a href="/">home</a>?</p>
<script>
    document.querySelector('span').innerText = window.location.pathname;
</script>
{{/inline}}
{{~> (parent)~}}