<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Not Found</title>
    </head>

    <body>
        <h1>404 Not Found</h1>
        <p>The page "<span></span>" doesn't exist just yet.</p>
        <p>Maybe you want to head <a href="/">home</a>?</p>
        <script>
            document.querySelector('span').innerText = window.location.pathname;
        </script>
    </body>

</html>